NODE_ENV=development

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=quinela_dev
POSTGRES_PORT=5270

DATABASE_URL="postgresql://postgres:postgres@localhost:5270/quinela_dev?schema=public"
